:root {
  --header-height: 3rem;


  /* ===== Colors ===== */

  --hue-color: 180;

  --primary-color: hsl(var(--hue-color), 69%, 61%);
  --primary-color-alt: hsl(var(--hue-color), 57%, 53%);
  --primary-color-light: hsl(var(--hue-color), 92%, 85%);
  --bg-color: #F4F4F6;
  --bg-color-alt: 2C3E64;
  --text-color: #74A5AD;
  --shadow-color: #707A71;


  /* ===== Fonts ===== */

  --body-font: 'Mulish', sans-serif;
  --title-font: 'Saira Stencil One', cursive;

  --title-size: 2rem;
  --h1-size: 1.5rem;
  --h2-size: 1.25rem;
  --h3-size: 1.125rem;
  --normal-size: .938rem;
  --small-size: .813rem;
  --smaller-size: .75rem;

  --font-300: 300;
  --font-400: 400;
  --font-700: 700;
  --font-800: 800;
  
  
  /* ===== Margins ===== */

  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;


  /* ===== z-index ===== */

  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}


/* ===== Font for large devices ===== */

@media screen and (min-width: 968px) {
  :root {
    --title-size: 3rem;
    --h1-size: 2.25rem;
    --h2-size: 1.5rem;
    --h3-size: 1.25rem;
    --normal-size: 1rem;
    --small-size: .875rem;
    --smaller-size: .813rem;
  }
}


/* ===== BASE ===== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-size);
  background-color: var(--bg-color);
  color: var(--bg-color-alt);
}

h1,
h2,
h3,
h4 {
  color: var(--primary-color);
  font-family: var(--title-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


/* ===== MULTI-CLASSES ===== */

.section {
  padding: 2rem 0 4rem;
}

.section-title {
  font-size: var(--h1-size);
}

.section-subtitle {
  display: block;
  font-size: var(--small-size);
  margin-bottom: var(--mb-3);
}

.section-title,
.section-subtitle {
  text-align: center;
}


/* ===== LAYOUT ===== */

.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--bg-color-alt);
}


/* ===== NAV ===== */

.nav {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo,
.nav-toggle {
  color: var(--primary-color);
}

.nav-logo:hover {
  color: var(--primary-color-light);
  font-weight: var(--font-700);
}

.nav-toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav-toggle:hover {
  color: var(--primary-color-light);
  font-weight: var(--font-700);
}

@media screen and (max-width: 767px) {
  .nav-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-color-alt);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0,0,0,.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: .3s;
  }
}